version: "3.7"

services:

  dozzle: # Web-based UI for browsing container logs
    image: amir20/dozzle:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      default:
        aliases:
          - dozzle.localhost
    ports:
      - '11080:8080'
    restart: unless-stopped

  siga-demo-application:
    image: siga-demo-application:latest
    environment:
      - server.port=9443
      - server.ssl.key-store=/etc/siga-demo/siga-demo.localhost.keystore.p12
      - siga.api.trust-store=file:/etc/siga-demo/siga-demo.truststore.p12
    ports:
      - "9443:9443"
    networks:
      default:
        aliases:
          - siga-demo.localhost
    volumes:
      - ./docker/tls/siga-demo/siga-demo.localhost.keystore.p12:/etc/siga-demo/siga-demo.localhost.keystore.p12
      - ./docker/tls/siga-demo/siga-demo.truststore.p12:/etc/siga-demo/siga-demo.truststore.p12

  siga:
    image: nginx:latest
    ports:
      - "8443:8443"
    networks:
      default:
        aliases:
          - siga.localhost
    volumes:
      - ./docker/tls/siga/siga.localhost.key:/var/certs/siga.localhost.key
      - ./docker/tls/siga/siga.localhost.crt:/var/certs/siga.localhost.crt
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - siga-01
      - siga-02

  siga-01:
    image: siga-webapp:latest
    environment:
      - server.port=7443
      - server.ssl.key-alias=siga-01.localhost
      - BPL_DEBUG_ENABLED=true
      - BPL_DEBUG_PORT=7000
      - SPRING_CONFIG_LOCATION=file:/etc/siga/application.properties
      - JAVA_TOOL_OPTIONS=-Dfile.encoding=UTF8
      # The '--add-opens' below is required for running Apache Ignite with JDK 17
      - JAVA_OPTS=
        -Djava.net.preferIPv4Stack=true
        --add-opens=jdk.management/com.sun.management.internal=ALL-UNNAMED
        --add-opens=java.base/jdk.internal.misc=ALL-UNNAMED
        --add-opens=java.base/sun.nio.ch=ALL-UNNAMED
        --add-opens=java.management/com.sun.jmx.mbeanserver=ALL-UNNAMED
        --add-opens=java.base/sun.reflect.generics.reflectiveObjects=ALL-UNNAMED
        --add-opens=java.base/java.io=ALL-UNNAMED
        --add-opens=java.base/java.nio=ALL-UNNAMED
        --add-opens=java.base/java.util=ALL-UNNAMED
        --add-opens=java.base/java.util.concurrent=ALL-UNNAMED
        --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED
        --add-opens=java.base/java.util.concurrent.locks=ALL-UNNAMED
        --add-opens=java.base/java.lang=ALL-UNNAMED
        --add-opens=java.base/java.time=ALL-UNNAMED
        --add-opens=java.base/sun.security.x509=ALL-UNNAMED
        --add-opens=java.base/java.security.cert=ALL-UNNAMED
    ports:
      - "7443:7443"
      - "7000:7000"
    networks:
      default:
        aliases:
          - siga-01.localhost
    volumes:
      - ./docker/tls/siga-01/siga-01.localhost.keystore.p12:/etc/siga/siga.localhost.keystore.p12
      - ./docker/tls/mid/mid.truststore.p12:/etc/siga/mid.truststore.p12
      - ./docker/tls/sid/sid.truststore.p12:/etc/siga/sid.truststore.p12
      - ./docker/tls/siva/siva.truststore.p12:/etc/siga/siva.truststore.p12
      - ./docker/siga-ignite/ignite-configuration.xml:/etc/siga/ignite-configuration.xml
      - ./docker/siga-webapp/application.properties:/etc/siga/application.properties
      - ./docker/siga-webapp/logback.xml:/etc/siga/logback.xml
      - siga-logs-01:/usr/local/tomcat/logs
    depends_on:
      - siga-db

  siga-02:
    image: siga-webapp:latest
    environment:
      - server.port=7443
      - server.ssl.key-alias=siga-02.localhost
      - spring.liquibase.enabled=false
      - BPL_DEBUG_ENABLED=true
      - BPL_DEBUG_PORT=6000
      - SPRING_CONFIG_LOCATION=file:/etc/siga/application.properties
      - JAVA_TOOL_OPTIONS=-Dfile.encoding=UTF8
      # The '--add-opens' below is required for running Apache Ignite with JDK 17
      - JAVA_OPTS=
        -Djava.net.preferIPv4Stack=true
        --add-opens=jdk.management/com.sun.management.internal=ALL-UNNAMED
        --add-opens=java.base/jdk.internal.misc=ALL-UNNAMED
        --add-opens=java.base/sun.nio.ch=ALL-UNNAMED
        --add-opens=java.management/com.sun.jmx.mbeanserver=ALL-UNNAMED
        --add-opens=java.base/sun.reflect.generics.reflectiveObjects=ALL-UNNAMED
        --add-opens=java.base/java.io=ALL-UNNAMED
        --add-opens=java.base/java.nio=ALL-UNNAMED
        --add-opens=java.base/java.util=ALL-UNNAMED
        --add-opens=java.base/java.util.concurrent=ALL-UNNAMED
        --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED
        --add-opens=java.base/java.util.concurrent.locks=ALL-UNNAMED
        --add-opens=java.base/java.lang=ALL-UNNAMED
        --add-opens=java.base/java.time=ALL-UNNAMED
        --add-opens=java.base/sun.security.x509=ALL-UNNAMED
        --add-opens=java.base/java.security.cert=ALL-UNNAMED
    ports:
      - "6443:6443"
      - "6000:6000"
    networks:
      default:
        aliases:
          - siga-02.localhost
    volumes:
      - ./docker/tls/siga-02/siga-02.localhost.keystore.p12:/etc/siga/siga.localhost.keystore.p12
      - ./docker/tls/mid/mid.truststore.p12:/etc/siga/mid.truststore.p12
      - ./docker/tls/sid/sid.truststore.p12:/etc/siga/sid.truststore.p12
      - ./docker/tls/siva/siva.truststore.p12:/etc/siga/siva.truststore.p12
      - ./docker/siga-ignite/ignite-configuration.xml:/etc/siga/ignite-configuration.xml
      - ./docker/siga-webapp/application.properties:/etc/siga/application.properties
      - ./docker/siga-webapp/logback.xml:/etc/siga/logback.xml
      - siga-logs-02:/usr/local/tomcat/logs
    depends_on:
      - siga-db

  siga-db:
    image: postgres:13
    restart: always
    environment:
      - POSTGRES_DB=siga_db
      - POSTGRES_USER=sa
      - POSTGRES_PASSWORD=
      - POSTGRES_HOST_AUTH_METHOD=trust
    ports:
      - "5432:5432"
    volumes:
      - ./docker/siga-db/install-extensions.sql:/docker-entrypoint-initdb.d/install-extensions.sql

  siga-admin:
    image: siga-admin-webapp:latest
    profiles:
      - siga-admin
    environment:
      - siga.admin.esteid-ldap.tls-truststore-path=file:/etc/siga-admin/tls.esteid-ldap.truststore.p12
      - siga.admin.esteid-ldap.tls-truststore-password=changeit
      - server.port=4443
      - server.ssl.enabled=true
      - server.ssl.key-store-type=PKCS12
      - server.ssl.key-store-password=changeit
      - server.ssl.key-store=/etc/siga-admin/siga-admin.localhost.keystore.p12
      - server.ssl.key-alias=siga-admin.localhost
      - spring.sql.init.platform=postgresql
      - spring.datasource.driver-class-name=org.postgresql.Driver
      - spring.datasource.url=jdbc:postgresql://siga-db:5432/siga_db
      - spring.profiles.active=inMemoryAuth
      - spring.mail.host=siga-admin-smtp.localhost
      - spring.mail.port=25
      - spring.mail.properties.mail.smtp.auth=false
      - spring.mail.properties.mail.smtp.starttls.enable=true
      - spring.mail.properties.mail.smtp.starttls.required=true
      - BPL_DEBUG_ENABLED=true
      - BPL_DEBUG_PORT=4000
      - JAVA_OPTS=
        -Djavax.net.ssl.trustStore=/etc/siga-admin/smtp.truststore.p12
        -Djavax.net.ssl.trustStorePassword='changeit'
        -Djavax.net.ssl.trustStoreType=pkcs12
        -Djavax.net.ssl.keyStore=/etc/siga-admin/siga-admin.localhost.keystore.p12
        -Djavax.net.ssl.keyStorePassword=changeit
        -Djavax.net.ssl.keyStoreType=pkcs12
    ports:
      - "4443:4443"
      - "4000:4000"
    networks:
      default:
        aliases:
          - siga-admin.localhost
    volumes:
      - ./docker/tls/siga-admin/siga-admin.localhost.keystore.p12:/etc/siga-admin/siga-admin.localhost.keystore.p12
      - ./docker/tls/esteid-ldap/esteid-ldap.truststore.p12:/etc/siga-admin/tls.esteid-ldap.truststore.p12
      - ./docker/tls/siga-admin-smtp/siga-admin-smtp.truststore.p12:/etc/siga-admin/smtp.truststore.p12

  siga-admin-smtp:
    image: rnwood/smtp4dev:3.2.0-ci20221023104
    profiles:
      - siga-admin
    environment:
      - ServerOptions__TlsMode=StartTls
      - ServerOptions__TlsCertificatePassword=changeit
      - ServerOptions__TlsCertificate=/siga-admin-smtp.localhost.keystore.p12
    ports:
      - "2525:25"
      - "3000:80"
    networks:
      default:
        aliases:
          - siga-admin-smtp.localhost
    volumes:
      # The directory where smtp4dev will store the e-mail database.
      - ./docker/siga-admin-smtp/:/smtp4dev
      # TLS keystore
      - ./docker/tls/siga-admin-smtp/siga-admin-smtp.localhost.keystore.p12:/siga-admin-smtp.localhost.keystore.p12

  ignite-01:
    # TODO: Use pre-built image when an official Ignite image is released for JDK17.
    #       '--build' argument in README.md can also be removed after that.
    #image: apacheignite/ignite:2.15.0
    build: docker/siga-ignite
    environment:
      - CONFIG_URI=/etc/ignite/ignite-configuration.xml
      - JVM_OPTS=
        -Xms512m -Xmx512m -server -XX:+UseG1GC -XX:+DisableExplicitGC
        -Djava.net.preferIPv4Stack=true
    networks:
      default:
        aliases:
          - ignite-01.localhost
    volumes:
      - ./docker/siga-ignite/ignite-configuration.xml:/etc/ignite/ignite-configuration.xml
      - ./docker/siga-ignite/run.sh:/opt/ignite/apache-ignite-2.15.0-bin/run.sh

  ignite-02:
    # TODO: Use pre-built image when an official Ignite image is released for JDK17.
    #       '--build' argument in README.md can also be removed after that.
    #image: apacheignite/ignite:2.15.0
    build: docker/siga-ignite
    environment:
      - CONFIG_URI=/etc/ignite/ignite-configuration.xml
      - JVM_OPTS=
        -Xms512m -Xmx512m -server -XX:+UseG1GC -XX:+DisableExplicitGC
        -Djava.net.preferIPv4Stack=true
    networks:
      default:
        aliases:
          - ignite-02.localhost
    volumes:
      - ./docker/siga-ignite/ignite-configuration.xml:/etc/ignite/ignite-configuration.xml
      - ./docker/siga-ignite/run.sh:/opt/ignite/apache-ignite-2.15.0-bin/run.sh

volumes:
  siga-logs-01:
    name: siga-logs-01
  siga-logs-02:
    name: siga-logs-02
