<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    ​
    <property name="COMMON_LOG_FILE" value="${BUILD_FOLDER:-logs}/siga-common.log"/>​
    <property name="EVENTS_LOG_FILE" value="${BUILD_FOLDER:-logs}/siga-events.log"/>​
    <property name="CONSOLE_LOG_PATTERN"
              value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>
    <property name="COMMON_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } --- [%15.15t] %-40.40logger{39} : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>
    <property name="ELK_LOG_PATTERN"
              value="%d{MMM dd HH:mm:ss} ${HOSTNAME} rak-siga-common.log [x_b3_traceid=%X{X-B3-TraceId}, x_b3_spanid=%X{X-B3-SpanId}] %m%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>
    <appender name="COMMON_LOG_FILE" class="ch.qos.logback.core.FileAppender">
        <file>${COMMON_LOG_FILE}</file>
        <encoder>
            <pattern>${COMMON_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
            <immediateFlush>true</immediateFlush>
        </encoder>
    </appender>
    <appender name="EVENTS_LOG_FILE" class="ch.qos.logback.core.FileAppender">
        <file>${EVENTS_LOG_FILE}</file>
        <encoder>
            <pattern>${ELK_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
            <immediateFlush>true</immediateFlush>
        </encoder>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                <marker>SIGA_EVENT</marker>
            </evaluator>
            <onMismatch>DENY</onMismatch>
            <onMatch>NEUTRAL</onMatch>
        </filter>
    </appender>
    <logger name="ee.openeid.siga" level="INFO"/>
    <logger name="org.digidoc4j" level="INFO"/>
    <logger name="eu.europa" level="INFO"/>
    <logger name="org.digidoc4j.Configuration" level="INFO"/>
    <logger name="eu.europa.esig.dss.client.http.commons" level="INFO"/>
    <logger name="ee.sk" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="COMMON_LOG_FILE"/>
        <appender-ref ref="EVENTS_LOG_FILE"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>